body, html {
    height: 100%;
}

.nav {
    background-color: black;
    text-align: center;
    font-size: 30px;
    color: blue;
}

.active {
    text-align: center;
}

.bg {
    /* The image used */
    background-image: url("../images/Project2backgroundimg.jpg");

    /* Full height */
    height: 50%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron {
    background: transparent !important;
}